.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffefff;

}

.form__wrapper {
    background: #1d272c;
    border-radius: 3px;
    padding: 20px 30px;
    border: 1px solid #12191D;
}

.form__title {
    font-size: 16px;
    letter-spacing: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    font-size: 35px;
    color: #5b6062;
}

input {
    color: #ffefff;
    border: 1px solid #12191D;
    background: #263238;
    border-radius: 3px;

    padding: 5px 20px;
}

.form__picker {
    display: flex;
    justify-content: space-between;
}

.form__badge {
    position: relative;
    
    
    border: 1px solid #12191D;
    background: #263238;
    border-radius: 3px;
    padding: 10px;

}

.badgeWrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 30px;    
}

.form__color {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 5px;
}

.form__buttons { 
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.form__cancel {
    margin-right: 10px;
    font-size: 14px;
}