

.Header {
    background-color: #12191D;
    width: 100%;
    position: fixed;
}

.column {
    overflow: visible;
    background: #000;
}

.highcharts-container {
    color: #feffff;
    fill: #feffff;
    height: 600px;
    border: 2px solid #12191D;
}

.highcharts-legend-item {
    color: #feffff;
    fill: #feffff;
}

.highcharts-title {
    fill: #5ed2d2;
}

.highcharts-background {
    fill: #314047;
    
}

.highcharts-dashboards,
.highcharts-dashboards-wrapper {
    background-color: #1d8ecf;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;

    font-size: 18px;
    letter-spacing: 2px;


}

.header__burger {
    font-size: 32px;
}

.nav {
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: #12191D;
    border-right: 2px solid #12191D;
    margin-top: 42px;
}

.nav__hide {
    width: 8%;
    padding: 5px 0;
}



.nav__link {
    display: flex;
    align-items: center;
    padding: 10px 30px ;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;

}
.nav__link:first-child {
    padding-top: 20px;
}

.nav__icon {
    font-size: 32px;
}

.nav__link span {
    margin-left: 5px;
}

.nav__link:hover {
    background-color: #263238;
}

.nav__link.active {
    background-color: #263238;
}

.main {
    display: flex;
}

.main__tracking {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;

    margin-top: 45px;
    margin-left: 20%;
}

.main__reports {
    display: flex;
    position: relative;
    top: 50px;
    left: 18%;
    width: 80%;
    justify-content: space-between;
}

.tracker {
    margin: 30px;
    width: 100%;
}

.tracker__wrapper {

    margin-bottom: 20px;
    border: 1px solid #12191D;
    border-bottom: 10px solid #12191D;
    border-radius: 2px;
}

.tracker_header {
    display: flex;
    justify-content: space-between;
    background-color: #12191D;

    padding: 10px 20px;

}

.tracker__time {
    background-color: #1d272c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tracker__info {
    display: flex;
    width: 500px;
}

.tracker__info input {
    width: 200px;
}


.input {
    border: 0px;
	padding: 3px 10px;
    width: 20%;
	font-size: 16px;
    margin: 5px;
    background: none;

    font-size: 14px;
    color: #feffff;
}


.addTrack {
    width: 100%;
    margin: 30px;
    border: 1px solid #12191D;
    border-radius: 3px;
    background-color: #1d272c;
    box-sizing: border-box;


    padding: 10px 20px;

}

.addTrack_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    box-sizing: border-box;
}


.addTrack__input {
    width: 60%;
    padding: 10px 20px;
}

.addTrack__input:hover {
    border: 1px solid #12191D;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
}

.addTrack__set {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addTrack_tag {
    position: relative;
}

.addTrack_button {
    color: #5ed2d2;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.addTrack_button .icon {
    font-size: 22px;
    margin-right: 10px;
}

.tag {
    position: absolute;
    top: 25px;
    background-color: #12191D;
    padding: 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #808080;
    width: 200px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #263238;
    border-radius: 3px;

    padding: 5px 10px;
}

.tag__projects {
    padding: 10px;
    overflow: scroll;
    overflow-x:hidden;
    height: 100px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        background: #5ed2d2;
        border-radius: 3px;
    }
}


.tag__project {
  padding: 10px;
}
.tag__project:hover {
    cursor: pointer;
    background: #263238;
}


.search__icon {
    color: #feffff;
    font-size: 22px;
    line-height: 100%;
}

.search__input {
    width: 250px;
    background: none;
    border: none;
    color: #feffff;
    padding: 5px;
}

.button {
    padding: 8px 25px;
    background-color: #03a9f4;
    font-size: 14px;
    border-radius: 2px;
}

.red {
    background-color: #f40313;
}


input {
    background: none;
    border: none;
  }
  
  ::placeholder {
    background-color: none;
    color: #def2f1;
    opacity: 1; 
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
  }
  
  input:focus {
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: #feffff;
  }